{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>42 Coffee Cups Test Assignment</title>
    <h1>42 Coffee Cups Test Assignment</h1>
</head>

<body>
        <p>Name: {{user.Name}}</p>
        <p>Last name:  {{user.Last_name}}</p><br>
        <p>Contacts</p>
        <p>Email: {{user.Email}}</p>
        <p>Jabber: {{user.Jabber}}</p>
        <p>Skype: {{user.Skype}}</p>
        <p>Other contacts:</p>
</body>
</html>